{% extends "template_layout.html" %}

{% block content %}
    <h1>Dataset Linked Data API</h1>
    <h2>Home page</h2>
    <p>This Linked Data API is currently in test. For the authoritative listing of GA's datasets and publications, please see eCat, GA's main Dataset and Products catalogue:</p>
    <ul>
        <li><a href="https://ecat.ga.gov.au/geonetwork/">eCat Catalogue</a></li>
    </ul>
    <p>To access GA dataset and publications using Linked Data (again, this is still in test) use the links above.</p>
{% endblock %}