<html>
	<head profile="http://dublincore.org/documents/dcq-html/">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
		<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />

		<meta name="dc.language" content="en-au" />
		<meta name="dc.format" content="text/html" />
        <meta name="dc.identifier" content="{{ identifier }}" />
        <meta name="dcterms.title" content="{{ title }}" />
		<meta name="dcterms.description" content="{{ description }}" />
        <meta name="dcterms.creator" content="{{ creator }}" />
		<meta name="dcterms.publisher" content="{{ publisher }}" />
		<meta name="dcterms.created" content="{{ created }}" />
		<meta name="dcterms.modified" content="{{ modified }}" />
		<meta name="dcterms.rights" content="{{ rights }}" />

		<meta name="keywords" content="{{ keywords }}">

		<title>{{ title }}</title>
	</head>
	<body>
        <h1>eCat Item: {{ title }}</h1>
        <table>
            <tr><th>Metadata Element</th><th>Value</th></tr>
            <tr><td>dcterms.description</td><td>{{ description }}</td></tr>
            <tr><td>dc.identifier</td><td><a href="{{ identifier }}">{{ identifier }}</a></td></tr>
            <tr><td>dcterms.creator</td><td>{{ creator }}</td></tr>
            <tr><td>dcterms.publisher</td><td>{{ publisher }}</td></tr>
            <tr><td>dcterms.created</td><td>{{ created }}</td></tr>
            <tr><td>dcterms.modified</td><td>{{ modified }}</td></tr>
            <tr><td>dcterms.rights</td><td>{{ rights }}</td></tr>

            <tr><td>keywords</td><td>{{ keywords }}</td></tr>
        </table>
	</body>
</html>